@font-face {
    font-family: "Droid";
    src: url('../fonts/Droid.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kameron";
    src: url('../fonts/Kameron.ttf');
    font-weight: normal;
    font-style: normal;
}

.fullheight {
    height: 100%;
}

.blackwhite {
    background-color: #000;
    color: #FFF;
}

.whitetop {
    border-top: 3px solid #FFF;
}

.blackgrey {
    background-color: #000;
    color: #333;
}

.form-control:focus {
    border-color: #333;
    background-color: #000;
}

.negative {
    padding-right: 6vw;
}
