{% load static %}
<!DOCTYPE html>
<html lang="en" class="fullheight">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'flash/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'flash/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'flash/css/main.css' %}">
</head>

<body class="fullheight" onload="init();">
    <div class="card card-inverse text-center fullheight" style="background-color: #333; border-color: #333;">
        <div class="card-block" style="display: flex;" onclick="showAnswer();">
            <h1 class="card-text" style="margin: auto; font-size: 27vw; font-family: Times"></h1>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <div class="col">
                    <button id="go" type="button" class="btn btn-outline-danger" onclick="go();"><i class="fa fa-3x fa-play-circle-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{% static 'flash/js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'flash/js/tether.min.js' %}"></script>
    <script src="{% static 'flash/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'flash/js/jquery.number.min.js' %}"></script>
    <script src="{% static 'flash/js/Group.js' %}"></script>
    <script src="{% static 'flash/js/main3.js' %}"></script>
</body>

</html>
